<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello!</title>
</head>
<body>
    <h1>Hello, World!</h1>
    <a href="https://www.google.com.hk/?gws_rd=ssl&client=safari">GO TO GOOGLE</a>
    <hr>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, culpa qui officia fuga rem velit sequi aspernatur veniam incidunt laborum, dolorem, tenetur doloremque libero fugiat saepe quae. Voluptatum, delectus ipsa?</p>
</body>
</html>