{% extends "layout.html" %}

{% block body %}
    <h1 style="color: cadetblue;">Authentication Login</h1>
    {% if message %}
        <div style="color: red; margin-bottom: 20px;">User {{ message }}</div>
    {% endif %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
{% endblock %}