{% extends "layout.html" %}

{% block body %}
    <ul>
        {% for task in tasks %}
            <!-- It will automatically generate 
                3 list elements inside the html file -->
            <li style="font-size: 20px;">{{ task }}</li>
        <!-- If nothing in the for loop, render empty tag -->
        {% empty %}
            <li style="font-size: 20px;">No tasks, hooray!</li>
        {% endfor %}
    </ul>
    <div class="link">
        <a href="{% url 'tasks:add' %}";">Add a New Task</a>
    </div>
{% endblock %}
